{% extends 'band/base.html' %}
{% load static %}

{% block title %}Фотографии{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'band/css/photo.css' %}">
{% endblock %}

{% block content %}
<h1>Фото галерея</h1>
<div class="photo-list">
    {% for photo in photos %}
        <div class="photo-item">
            <h2>{% if photo.title %}{{photo.title}}{% else %}{% endif %}</h2>
            <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
            <p>{{ photo.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}

