<!-- templates/band/index.html -->
{% extends 'band/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="title">
    <h1>БИСБЭНД</h1>
</div>

<div class="photo">
    <img src="{% static 'band/img/band_photo.jpg' %}" alt="Band Photo">
</div>

<div class="description">
    <p>
        На наш взгляд самое вкусное в нашем творчестве-это духовые, они придают оттенок
        композиции и настроение. 
        Создают опору на которой держится почти вся аранжировка.  Две гитары подольют масло
        в огонь и сделают музыку как пульс, то тяжелее то лайтовее. Брутальный драмер
        своими фантастическими ритмами заставит двигаться даже самых незаинтересованных
        слушателей.
        А тексты на любой вкус от попсовых до серьезных и лирических.
        Участники многих концертов, а также фестивалей: "Фотозона 2016,2017,2018", "ХЗ-2017,
        "ХЗ-2018, (Шалёные секачи), "Поляна-part- 2017,
        XII Лидский Байк Фестиваль - 2018""(Devoid of Rights MCC),, Мотокупалье 2018 (Ласточки), АвтоФестиваль SunDay - 2018,
        Организаторы фестиваля «Music of the Sky». Финалисты международного фестиваля Emergenza (в Минске)
    </p>
</div>
{% endblock %}
